!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 "User Name: #{@user[:name]}"
    %p "User Email: #{@user[:email]}"
    %br/
    %h4 Message/ suggestion: 
    %p= @user[:message]
