.box
  %h2.text-center Team
.div{"data-animate" => "fadeInUp"}
  #blog-homepage
    .row
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://avatars1.githubusercontent.com/u/5124042?v=3&s=466", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center Anuja Joshi
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://www.joshsoftware.com/assets/team/Ashvini-81740044747b8fed5b1ca59471c4929b.jpg", class: 'img img-responsive img-circle about-us-img'
          %h3.purple-title.text-center Ashwini Vibhute
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://rubyconfindia.org/assets/images/speakers/shweta.png", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center Shweta Kale
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAcJAAAAJGFiZGZlMjdlLWNjNTktNDgxZC04MDA1LWNhZWMzYjIwMzI4NQ.jpg", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center Sakshi Parakh
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.