.box
  %h2.text-center Team
.div{"data-animate" => "fadeInUp"}
  #blog-homepage
    .row
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://avatars1.githubusercontent.com/u/5124042?v=3&s=466", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center Anuja Joshi
          %p Anuja lives in Pune, India. She is a prolific WebApp developer. Her alacrity towards new ideas and open source contribution is amazing. She is a sand animation artist and loves painting and scenic designing.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://www.joshsoftware.com/assets/team/Ashvini-81740044747b8fed5b1ca59471c4929b.jpg", class: 'img img-responsive img-circle about-us-img'
          %h3.purple-title.text-center Ashwini Vibhute
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://rubyconfindia.org/assets/images/speakers/shweta.png", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center Shweta Kale
          %p Shweta lives in Pune, India. She is an enthusiastic programmer and an avid open source contributor. When free she likes to go for trekking and also spends some quality time with her family and friends. 
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c10.24.259.259/s160x160/375072_10152867121265061_1910016858_n.jpg?oh=22cf40675397f20fae91ea269cbac684&oe=585F6807&__gda__=1486712651_e4ca1ef9a45eaecac4533e4138bb79f4", class: 'img img-responsive img-circle about-us-img'
          %h3.purple-title.text-center Sakshi Parakh
          %p  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.