.box
  %h2.text-center Team
.div{"data-animate" => "fadeInUp"}
  #blog-homepage
    .row
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://avatars1.githubusercontent.com/u/5124042?v=3&s=466", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center{style: "margin-bottom: 0px;"} Anuja Joshi
          %div.text-center{style: "padding-bottom: 10px;"}
            %a{href: "https://twitter.com/anujajoshi7", target: '_blank'}
              %i.fa.fa-twitter
            %a{href: "https://github.com/anuja-joshi", target: '_blank'}
              %i.fa.fa-github
            %a{href: "https://linkedin.com/in/anuja-joshi", target: '_blank'}
              %i.fa.fa-linkedin
          %p Anuja lives in Pune, India. She is a prolific WebApp developer. Her alacrity towards new ideas and open source contribution is amazing. She is a sand animation artist and loves painting and scenic designing.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://www.joshsoftware.com/assets/team/Ashvini-81740044747b8fed5b1ca59471c4929b.jpg", class: 'img img-responsive img-circle about-us-img'
          %h3.purple-title.text-center{style: "margin-bottom: 0px;"} Ashvini Vibhute
          %div.text-center{style: "padding-bottom: 10px;"}
            %a{href: "https://twitter.com/VibhuteAshvini", target: '_blank'}
              %i.fa.fa-twitter
            %a{href: "http://github.com/Ashviniv", target: '_blank'}
              %i.fa.fa-github
            %a{href: "https://in.linkedin.com/in/ashvini-vibhute-480725a1", target: '_blank'}
              %i.fa.fa-linkedin
          %p  Ashvini lives in Pune, India. She loves Ruby programming and enjoys contributing to open source development. She seeks great interest in javascript. She is passionate about cricket and also enjoys playing badminton.
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "http://rubyconfindia.org/assets/images/speakers/shweta.png", class: 'img img-responsive img-circle'
          %h3.purple-title.text-center{style: "margin-bottom: 0px;"} Shweta Kale
          %div.text-center{style: "padding-bottom: 10px;"}
            %a{href: "https://twitter.com/Shwetakale13", target: '_blank'}
              %i.fa.fa-twitter
            %a{href: "http://github.com/Shwetakale", target: '_blank'}
              %i.fa.fa-github
            %a{href: "https://www.linkedin.com/in/shwetakale13", target: '_blank'}
              %i.fa.fa-linkedin
          %p Shweta lives in Pune, India. She is an enthusiastic programmer and an avid open source contributor. When free she likes to go for trekking and also spends some quality time with her family and friends. 
      .col-sm-3
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c10.24.259.259/s160x160/375072_10152867121265061_1910016858_n.jpg?oh=22cf40675397f20fae91ea269cbac684&oe=585F6807&__gda__=1486712651_e4ca1ef9a45eaecac4533e4138bb79f4", class: 'img img-responsive img-circle about-us-img'
          %h3.purple-title.text-center{style: "margin-bottom: 0px;"} Sakshi Parakh
          %div.text-center{style: "padding-bottom: 10px;"}
            %a{href: "https://twitter.com/SakshiParakh94", target: '_blank'}
              %i.fa.fa-twitter
            %a{href: "http://github.com/SakshiParakh", target: '_blank'}
              %i.fa.fa-github
            %a{href: "https://in.linkedin.com/in/sakshi-parakh-06174957", target: '_blank'}
              %i.fa.fa-linkedin
          %p  Sakshi lives in Pune, India. She is inspired by ruby programming and tries to seek all opportunities that helps her explore new directions. She is fond of AngularJs. In her passtime she plays basketball and enjoys dancing
