#main-slider
  .item
    %img.img-responsive{:alt => "", :src => "img/landing-img3.png"}/
  .item
    %img.img-responsive{:alt => "", :src => "img/landing-img1.png"}/
  .item
    %img.img-responsive{:alt => "", :src => "img/landing-img2.png"}/

