#contact.box
  %h1.purple-heading Inspiration
  %hr/
  %p.lead Why Gift Galore?
  %blockquote
    %p
      %em The idea popped up during a gift exchange event in our office. We realized how difficult a task could be to find the perfect gift for a person. Giving something that lies in their interest well is very essential. It also helps in strengthening bonds and relations with our friends and families.

  %hr/
  %p.lead Why Ruby Rampage?
  %blockquote
    %p
      %em It gives us the opportunity to work outside the boundaries and constraints of our everyday projects. It allows us to make new relations and work in a different environment. Thus, refreshing our minds from the mundane routine. It gives us the liberty to build our true desires and explore new ideas. The challenge of 48 hrs not only tests our capabilities and skills, it also tests are management qualities thus encouraging and thriving us to be more responsible.
  .row
    .col-sm-3
    .col-sm-3
      %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "//giphy.com/embed/xT9DPIBYf0pAviBLzO", :width => "480"}
      %p
        %a{:href => "http://giphy.com/gifs/cat-kitty-motivational-xT9DPIBYf0pAviBLzO"} via GIPHY
