.box{:style=> "background-image: url(/result-background.jpg)"}
  %h2.text-center.title-white= @message
.div{"data-animate" => "fadeInUp"}
  #blog-homepage.row
    - @gifts.each do |gift|
      .col-sm-4
        .post
          .owl-item{:style => "width: 228px; margin: 0 auto;"}
            .item{:style => "visibility: visible;", "data-animate-hover" => "bounce"}
              = image_tag "#{gift.image.empty? ? '/default_gift_img.jpg' : gift.image}", class: 'img img-responsive'
              %a.invisible
                %img.img-responsive{:alt => "", :src => "img/product2.jpg"}/
              / .ribbon.sale
              /   .theribbon GIRL
              /   .ribbon-background
          %h3.purple-title.text-center= gift.name
