#text-page.box
  .row
    .col-md-4
      %p.text-center
        %img.img-rounded.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}/
      .box.same-height.clickable{:style => "height: 168px;"}
        %h3
          %a{:href => "#"} Best prices
        %p You can check that the height of the boxes adjust when longer text like this one is used in one of them.
    .col-md-4
      %p.text-center
        %img.img-rounded.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}/
      .box.same-height.clickable{:style => "height: 168px;"}
        %h3
          %a{:href => "#"} Best prices
        %p You can check that the height of the boxes adjust when longer text like this one is used in one of them.
    .col-md-4
      %p.text-center
        %img.img-rounded.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}/
      .box.same-height.clickable{:style => "height: 168px;"}
        %h3
          %a{:href => "#"} Best prices
        %p You can check that the height of the boxes adjust when longer text like this one is used in one of them.
    .col-md-4
      %p.text-center
        %img.img-rounded.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}/
      .box.same-height.clickable{:style => "height: 168px;"}
        %h3
          %a{:href => "#"} Best prices
        %p You can check that the height of the boxes adjust when longer text like this one is used in one of them.